<h2>Requests</h2>
<a href="#" id="show-contacts">Show contacts</a> |
<a href="#" id="hide-contacts">Hide contacts</a>
<% tmp_category = nil %>
<% @requests.sort_by(&:category).each do |request| %>
  <% if request.category != tmp_category %>
    <h3 class="category"><%= request.category %></h3>
  <% end %>
  <% tmp_category = request.category %>
  <div class="service">
    <p><strong><%= request.title %></strong></p>
    <%=  sanitize(request.body.gsub(/<p>&nbsp;<\/p>/, ''), tags: %w(p ul ol li em strong i b a)) %>
    <p>
      <span class="name"><%= request.name %></span><br />
      <span class="contact"><%= request.contact %><br />
      <%= request.suburb %></span>
    </p>
  </div>
<% end %>
