<h2>Offers (<span class="service-count"></span>)</h2>
<a href="#" id="show-contacts">Show contacts</a> |
<a href="#" id="hide-contacts">Hide contacts</a>
<% tmp_category = nil %>
<% @offers.sort_by(&:category).each do |offer| %>
  <% if offer.category != tmp_category %>
    <h3 class="category"><%= offer.category %></h3>
  <% end %>
  <% tmp_category = offer.category %>
  <div class="service">
    <p><strong><%= offer.title %></strong></p>
    <%=  sanitize(offer.body.gsub(/<p>&nbsp;<\/p>/, ''), tags: %w(p ul ol li em strong i b a)) %>
    <p>
      <span class="name"><%= offer.name %></span><br />
      <span class="contact"><%= offer.contact %><br />
      <%= offer.suburb %></span>
    </p>
  </div>
<% end %>
